nav#nav_home {
    display: flex;
    margin: 30px;
    flex-direction: row;
    align-items:center;
}
img#logo_home_desktop {
    width: 100%;
    height: auto;
    padding-right: 30px;
}
aside#nav_home_aside {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin: 0px;
    padding-left: 30px;
}
nav#nav_home h4 {
    margin: 0px;
    padding-top: 20px;
}
nav#nav_home hr {
    width: 100%;
    margin: 60px 0px 0px 0px;
}
div#nav_home_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0px 8px 0px;
}
div#nav_home_button a, div#nav_home_button p {
    padding: 0px;
    margin: 0px;
}
@media screen and (max-width: 800px) {
    nav#nav_home {
    display: flex;
    margin: 30px;
    flex-direction: column;
    text-align: center;
}
img#logo_home_desktop {
    padding-right: 0px;
}
aside#nav_home_aside {
    width: 100%;
}
nav#nav_home h4 {
    margin: 0px;
    padding-bottom: 50px;
}
nav#nav_home hr {
    margin: 0px;
}
}
#homepage_intro {
    display: flex;
    height: 540px;
}
div.row_font {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 0px;
    background-color: var(--lightBrown);
    width: 540px;
    aspect-ratio: 1 / 1;
}
img.image_homepage_right{
    flex: 1;
    object-fit: cover;
}
.box_homepage_left {
    padding-bottom: 60px;
    margin: 0px;
}
.button_dark_color {
    width: 158.8px;
    height: 52.2px;
    border-radius: 50%;
    border: 0px;
    padding: 7.8px 26px 7.8px 26px;
    background-color: var(--blackButton);
    color: var(--lightBrown);
}
button.button_dark_color:hover {
    border: 1px solid var(--black);
    background-color: var(--lightBrown);
    color: var(--blackButton);
}
#homepage_abtUs {
    padding: 30px 30px 100px 30px;
    margin: 0px;
}
h2.box_homepage_abtUs {
    padding-bottom: 60px;
}
.button_light_color {
    width: 149.8px;
    height: 52.2px;
    border-radius: 50%;
    border: 1px solid var(--black);
    padding: 7.8px 26px 7.8px 26px;
    background-color: var(--white);
    color: var(--blackButton);
}
button.button_light_color:hover {
    border: 0px;
    background-color: var(--blackButton);
    color: var(--white);
}
#container_homepage_introWine {
    display: flex;
    flex-direction: column;
    position: relative;
}
.box_homepage_introWine {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%);
    width: 585px;
}
h1, div.box_homepage_introWine h4 {
    color: var(--white);
    text-align: center;
}
#homepage_product_grid {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 20px;
    padding: 30px;
}
    
.homepage_product {
    display: flex;
    flex-direction: column;
}
.cocktail {
    background-color: var(--lightBrown);
    padding: 30px;
    margin-top: 30px;
    text-align: left;
}
.black_cocktail {
    color: var(--black);
}
#homepage_quote {
    display: flex;
}
div#homepage_quote h3 {
    width: 50%;
    padding: 30px 30px 0px 30px;
}
div#homepage_quote img {
    width: 50%;
    height: 640px;
    aspect-ratio: 1 / 1 ;
    object-fit: cover;
}




